---
title: games
layout: default
permalink: /games
header-img: "img/games-bg.webp"
header-mask: 0.63
---

<!-- Page Header -->
{% include intro-header.html type='page' short=false %}

<!-- Main Content -->
<div class="container">
	<div class="row">

		<!-- Games Container -->
		<div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
			col-xs-12">

			<p>Here's the list of all commercial games I've worked on:</p>
			<hr>

			<!-- Selecting posts that have `post_type` defined and set to `game` -->
			{%- assign _games = site.posts | where: "post_type", "game" -%}
			{%- assign _games = _games | reverse -%}

			{% include game-list.html games=_games %}
		</div>

		<!-- Sidebar Container -->
		<div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
			col-xs-12 sidebar-container">

			<!-- Short About -->
			{% include short-about.html %}
			<hr>
			<!-- Featured Tags -->
			{% include featured-tags.html %}

		</div>
	</div>
</div>
