---
title: games
layout: page
permalink: /games/
header-img: "img/games-bg.webp"
header-mask: 0.63
---

{%- assign _games = site.posts | where: "post_type", "game" -%}
{%- assign _games = _games | reverse -%}

<div class="mini-game-list a">
    {%- for _project in _games -%}
    <section class="game-preview item">
        <a href="{{ _project.url | prepend: site.baseurl }}" target="_blank" class="game-preview">
            {% if _project.icon_img %}
            <div class="game-banner">
                <img src="{{ _project.icon_img }}" />
            </div>
            {% endif %}
            <div class="game-info">
                <h2 class="game-title">
                    <u>{{ _project.title }} <small>↗</small></u>
                </h2>
                {% if _project.description %}
                <h3 class="game-subtitle">
                    {{ _project.description }}
                </h3>
                {% endif %}
            </div>
        </a>
    </section>
    {% endfor %}
</div>

