---
layout: home
author_profile: true

title: "Hello there!"
subtitle: "AAAA"
layout: splash
permalink: /
order: 1

header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/splash.png
  actions:
    - label: "<i class='fab fa-twitter'></i>"
      url: "https://twitter.com/_thisIsPJ"
    - label: "<i class='fab fa-mastodon'></i>"
      url: "https://mastodon.gamedev.place/@thapj"
    - label: "<i class='fab fa-github'></i>"
      url: "https://github.com/pacojq"
    - label: "<i class='fab fa-fw fa-linkedin'></i>"
      url: "https://www.linkedin.com/in/paco-juan-6589ba14b/"
#    - label: "Posts"
#      url: "/year-archive/"

excerpt: "<small>Animation Tech Programmer at **IO Interactive**.<br>Solo video game maker.</small>"

---


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<a hidden rel="me" href="https://mastodon.gamedev.place/@thapj">Mastodon</a>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
