{%- assign _sorted_list = include.posts -%}
{%- assign _sorted_list = _sorted_list | sort: 'date' -%}
{%- assign _sorted_list = _sorted_list | reverse -%}

<div class="mini-post-list js-result d-none">
{%- for _article in _sorted_list -%}

    <!-- handle post tags -->
    {%- assign _tags = '' -%}
    {%- for _tag in _article.tags -%}
        {%- assign _tag_encode = _tag | strip | url_encode -%}
        {%- if forloop.last -%}
            {%- assign _tags = _tags | append: _tag_encode -%}
        {%- else -%}
            {%- assign _tags = _tags | append: _tag_encode | append: ',' -%}
        {%- endif -%}
    {%- endfor -%}

    <!-- group posts by year -->
    {% comment %} group by year {% endcomment %}
    {%- assign _currentdate = _article.date | date: '%Y' -%}

    {%- if _currentdate != _date -%}
    {%- unless forloop.first -%}</section>{%- endunless -%}

    <section>
        <span class="fa listing-seperator">
            <span class="tag-text">{{ _currentdate }}</span>
        </span>
        {%- assign _date = _currentdate -%}
    {%- endif -%}

        <div class="post-preview item" data-tags="{{ _tags }}">
            <a href="{{ _article.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ _article.title }} <small>↗</small>
                </h2>
                {% if _article.subtitle %}
                <h3 class="post-subtitle">
                    {{ _article.subtitle }}
                </h3>
                {% endif %}
            </a>
            <hr>
        </div>
        {%- if forloop.last -%}
    </section>{%- endif -%}
{% endfor %}
</div>