---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: rgb(248, 143, 252);
$link-color: $primary-color !default;
/*
$masthead-link-color: mix(#fff, $primary-color, 75%) !default;
*/
$masthead-link-color-hover: mix(rgb(216, 216, 216), $primary-color, 50%) !default;

$monospace: Consolas, Monaco, "Lucida Console", monospace !default;

$header-font-family           : $monospace !default;
$caption-font-family          : $monospace !default;


$border-color: mix(#fff, $primary-color, 20%) !default;
/*
$footer-background-color: mix(#000, $primary-color, 25%) !default;
*/




@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
